@tailwind base;
@tailwind components;
@tailwind utilities;

.image-placeholder {
  background: linear-gradient(135deg, #FF6B6B, #FFD93D, #6BCB77);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
}

/* Animación para el gradiente */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}